name: Development Deploy

on:
  push:
    branches-ignore: [main]

permissions:
  contents: write

jobs:
  infra-dev:
    uses: ./.github/workflows/reusable-infra-deploy.yml
    with:
      environment: dev
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  dbt-dev:
    needs: infra-dev
    uses: ./.github/workflows/reusable-dbt-run.yml
    with:
      environment: dev
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
