name: Implementation Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  infra-dev:
    uses: ./.github/workflows/reusable-infra-deploy.yml
    with:
      environment: dev
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  dbt-dev:
    needs: infra-dev
    uses: ./.github/workflows/reusable-dbt-run.yml
    with:
      environment: dev
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  infra-demo:
    needs: dbt-dev
    uses: ./.github/workflows/reusable-infra-deploy.yml
    with:
      environment: demo
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  dbt-demo:
    needs: infra-demo
    uses: ./.github/workflows/reusable-dbt-run.yml
    with:
      environment: demo
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  infra-prod:
    needs: dbt-demo
    uses: ./.github/workflows/reusable-infra-deploy.yml
    with:
      environment: prod
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  dbt-prod:
    needs: infra-prod
    uses: ./.github/workflows/reusable-dbt-run.yml
    with:
      environment: prod
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
